.book-string.ng-valid {
    background-color: lightgreen;
}
.book-string.ng-dirty.ng-invalid-pattern {
    background-color: red;
}
.book-string.ng-dirty.ng-invalid-required {
    background-color: red;
}
.book-string.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}



.book-year.ng-valid {
    background-color: lightgreen;
}
.book-year.ng-dirty.ng-invalid-required {
    background-color: red;
}
.book-year.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}
.book-year.ng-dirty.ng-invalid-pattern {
    background-color: red;
}

.bdescription.ng-valid {
    background-color: lightgreen;
}
.bdescription.ng-dirty.ng-invalid-required {
    background-color: red;
}

